:root{
    --clr-black: #000;
    --clr-gold: gold;
    --clr-input: cornflowerblue;
    --clr-deep-gold: rgb(182, 161, 41);
}

body{
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-black);
  color: white;
  height: 100vh;
}
.container{
    max-width: 500px;
    width: 80%;
    padding: 1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: var(--clr-gold);
}
fieldset{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.digit{
   width: 40px;
   border-radius: 5px; 
   padding: .6rem;
   border: 0;
   outline: 0;
   text-align: center;
   font-size: 1.5rem;
}
.digit + .digit{
  margin-left: .9rem;
}
.digit:focus{
    outline: 2px solid var(--clr-input) ;
    outline-offset: 4px;
}

.digit::-webkit-outer-spin-button,
.digit::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.generate{
    display: block;
    margin: 1rem auto;
    background-color: var(--clr-gold);
    width: 90%;
    color: var(--clr-black);
    padding: .8rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    outline: none;
}
.generate:hover{
    background-color: var(--clr-deep-gold);
}